<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637228160296-ofv9rcvhh24j3cou0oomguijit4ji4ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637228160296-ofv9rcvhh24j3cou0oomguijit4ji4ln</string>
	<key>API_KEY</key>
	<string>AIzaSyDo0Tm8Th-0HVsCzU-Oyu10O5R44oX_9Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>637228160296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-be071</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-be071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637228160296:ios:5ab1a7c032bcee8ac8ac1d</string>
</dict>
</plist>